$trimColor: #f15a24;
// $green: #22863a;
$green: #00c200;
$textColorRed:rgba(197,45,55,0.8);
$wS: #fffbf2;
$mainColor: #0f374f;
$hero: #9e9e9e;
$body: #fafafa;
$lime: #91ff35;
$black: #1d1f20;

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  background-color: $hero;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 45px;
}

h1 {
  font-size: 50px;
  // border-bottom: solid #AB2849 8px;
  color: black;
}
h2 {
  font-size: 30px;
}

p{
  color: black;
}

hr{
    // background-color: #AB2849;
    background-color: $lime;
    height: 5px;
    border: none;
    width: 500px;
}

.subtitle{
  color: whitesmoke;
}

.title{
  color: $wS;
}

// =========================================> chevron bounce

#scroll-chevron {
  text-align: center;
  font-size: 35px;
  color: whitesmoke;
  position: relative;
  bottom: 10px;
  bottom: -295px;
}

.bounce {
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.terminal{
  color: whitesmoke;
}

.black-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 88px;
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
}


// ===================================================> NAVBAR
.logo {
  height: 60px;
  width: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  // color: black;
  font-size: 40px;
}

.navbar{
  background-color: $black;
  opacity: 1;
  .navbar-menu {justify-content: center;}
  .navbar-start {
  margin-right: 20px}
  .navbar-end {
    margin-left: 20px;
  }
}

a.navbar-item {
  color: whitesmoke;
  padding-top: 10px;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease-in-out;
  cursor: pointer;
  display: flex;
  &:hover.navbar-item {
    // color: #AB2849;
    color: $lime;
    background: transparent;
    border-bottom: 4px solid $lime;
  }
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  transition: transform 0.5s;
  // background-color: #0f374f;
  background-color: $hero;
}

.nav-burger {
  color: white;
}


// ====================================================> HOME
.hero{
  // background-color: black;
  background-color: #1d1f20;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  font-family: Montserrat;
}

.anim-typewriter{
  animation: typewriter 2.2s steps(20) 1 normal both,
             blinkTextCursor 500ms steps(20) infinite normal;
  animation-delay: 1.2s;
}
div.contanier.mobile {
  margin: 267px;
}

#logo-sub {
    margin-left: 30px;
    border-right: 4px solid white;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 14.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: $lime;}
  to{border-right-color: transparent;}
}

// =======================================================> ABOUT
#about{
  color: $lime;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  width: 80%;
  margin: 0 auto;
}

.about-sec {
  // border-top: solid #AB2849 8px;
  background-color: $hero;
  width: 100%;
}


//  =====================================================> Skills
.skills {
  // background-color: $wS;
  background-color: $hero;
  height: inherit;
  // border-top: solid #AB2849 8px;
}

.tech-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  .tech-icons {
    font-size: 16px;
  }
  li {
    display: flex;
    flex-direction: column;
    height: 105px;
    color: $lime;
    padding: 6px;
    width: 105px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 42px;

    img {
      height: 42px;
      color: #4a4a4a;
    }
    &:hover {
      img {
        transform: scale(2);
        transition: 0.7s ease;
      }

      span {
        opacity: 0;
        display: none;
      }
    }
  }
}

// ============================================> projects
#projects{
  background-color: $hero;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
}
//
// .card{
//   background-color: $hero;
//   color: black;
//   h3 {
//     color: black;
//   }
//   p{
//     color: black;
//   }
//   i {
//  color: white;
//  font-size: 30px;
//  margin-right: 10px;
//  margin-top: 50px;
//  margin-bottom: 5px;
//  padding-left: 25px;
// }
// }

// Projects ==================================================== <<<<<
.projects {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% + 5vw), 50% 100%, 0 calc(100% + 5vw));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% + 5vw), 50% 100%, 0 calc(100% + 5vw));
  margin-bottom: -10vw;
}
p.title.is-2 {
  margin-bottom: 15px;
  // color: rgb(31,98,142);
  color: $lime;
}
//
// div.columns.is-multiline {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

div.project-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.technology {
  font-size: 14px;
  margin: 5px;
}

img.project-links {
  width: 80px;
}

img.project-links:hover{
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

img.project-links-web {
  width: 40px;
  margin-top: 7px;
  margin-right: 25px;
}

img.project-links-web:hover{
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

// @import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

// .container{
//   padding: 1em 0;
//   float: left;
//   width: 50%;
// }
.project_card{
  width: 500px;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  // .container{
  //   width: 33.33333%;
  // }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  // width: 90%;
  max-width: 700px;
  margin: auto;
  margin-bottom: 40px;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.7em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.9em;
}

.fadeIn-bottom{
  top: 80%;
}

img.content-image {
  border: solid rgb(31,98,142) 2px;
}

h3.content-title {
  font-size: 24px;
  font-weight: bold;
}

p.content-text {
  font-weight: bold;
}



//  ==================================================> Contact
#contact{
  background-color: $black;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-size: 88px;

  .contact-info-wrapper {
    display: flex;

    .column {
      width: auto;
      flex: 1;
      min-width: 0%;

      &.profile-picture {
        margin-left: 40px;
        height: 200px;
      }
    }
  }

  .contact-icons {
  color: #4a4a4a;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .black-title-contact {
    color: whitesmoke;
    font-size: 88px;
    font-family: Montserrat;
    h2.black-title-contact {
      font-size: 88px;
      display: flex;
      flex-direction: column;
      color: whitesmoke;
      margin-top: 100px;
    }
  }
}

#profile-pic {
  display: flex;
  flex-direction: column;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.09);
}

.button {
  background-color: black;
  color: white;
  margin: 5px;
  font-size: 20px;
  height: 1.7em;
  width: 190px;
  span {
    margin-left: 10px;
    font-size: 16px;
  }

  &:hover {
    color: $lime;
    background-color: black;
  }
  .button:focus {
    color: red;
  }
}

}

.skip {
  display: flex;
}
.details {
  padding-top: 90px;
  font-size: 88px;
  color: $lime;
}





// ======================================================> Media Queries

@media all and (max-width: 775px) {
  svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
  font-size: 24px;
  }
}

@media screen and (max-width: 1023px) {
  min-height: 445px;
  div #scroll-chevron .fade-in .bounce {
    bottom: -940px;
  }

  hr{
    max-width: 300px;
  }

  p{
    font-size: 30px;
  }
  .subtitle{
    font-size: 30px;
  }

.navbar-burger{
  color: white;
}
  nav li a {
    display: block;
    background-color: $mainColor;
  }

.navbar{
  .skip {
    display: block;
    transform: rotate(180deg);
    transition: transform 0.5s;
    margin-bottom: 9px;
    color: $wS;
    font-size: 35px;
    &:hover{
      background-color: black;
      color: white;
    }
  }
}

#menu {
  background-color: $black;
  a:hover {
   background-color: $hero;
   max-height: 30em;
 }
}

#contact {
  .button {
  width: 250px;
  font-size: 25px;
}

.column {
  flex-direction: row;
  &.profile-picture {
    display: none;
  }
}

}

div.navbar-brand {
   padding: 15px;
 }
}

.navbar-menu {
 color: $wS;
}

.navbar-item {
 font-size: 20px;
 color: $wS;
 text-decoration: none;
}

a.navbar-item {

 &:hover{
   color: $wS;
 }
 &:focus{
   color: $wS;
 }

}

@media all and (max-width: 420px) {
  #scroll-chevron {
    bottom: -150px;
  }
  // .skip {
  //   display: none;
  // }
}

@media all and (max-width: 320px) {
  #scroll-chevron {
    bottom: -130px;
  }
}

// =======================================================> Home Animations
$colors: (
    background: #1d1f20,
    // text: #eee
    text: $lime
);

$font: (
    family: sans-serif,
    size: 40px,
    letter-spacing: 0
);

$config: (
    animated: false,
    nb-letters: 16,
    animation-length: 9s,
    mask-letters: ("0", "1", "2", "3", "4", "5", "6", "7", "8", "9")

);

// ----------------------------------

@function color($value) {
    @return map-get($colors, $value);
}

@function font($value) {
    @return map-get($font, $value);
}

@function config($value) {
    @return map-get($config, $value);
}

@function random-string($list) {
    $result: null;
    @for $i from 1 through length($list) {
        $random: random(length($list));
        $current: nth($list, $random);
        $list: remove-nth($list, $random);
        $result: $result#{$current};
    }
    @return $result;
}

@function remove-nth($list, $index) {
    $result: ();
    @for $i from 1 through length($list) {
        @if $i != $index {
            $result: append($result, nth($list, $i));
        }
    }
    @return $result;
}

@mixin respond-to($breakpoint) {
    @if type-of($breakpoint) == list {
        @media (min-width: nth($breakpoint, 1)) and (max-width: nth($breakpoint, 2)) {
            @content;
        }
    }
    @else {
        @media (max-width: $breakpoint) {
            @content;
        }
    }
}

// ----------------------------------

body {
    text-align: center;
    // background-color: color(background);
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    font-size: 0;
    transform: translate(-50%);
    p {
        font-family: font(family);
        font-size: 40px;
        font-weight: 500;
        color: color(text);
        opacity: 0.8;
    }

    .letter {
        width: font(size);
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        margin: 0 ceil(font(letter-spacing) / 2);
        font-family: font(family);
        font-size: font(size);
        font-weight: 600;
        line-height: font(size);
        text-transform: uppercase;
        color: color(text);
        @include respond-to(625px) {
            //font-size: 16px;
            //width: 18px;
        }
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            word-break: break-all;
            background-color: color(background);
        }
      }
    }

// ----------------------------------

@for $i from 1 through config(nb-letters) {
    $length: length(config(mask-letters));
    $random: random($length);
    $steps: $random - 1;
    $offset: font(size) * $steps * -1;
    $delay: random(100) / 100;
      $duration: $steps * (config(animation-length) / $random);
    .letter:nth-child(#{$i}):before {
        content: quote(random-string(config(mask-letters)));
        margin-top: $offset;
        animation-name: letter#{$i};
        animation-duration: $duration - ($duration * $delay);
        animation-delay: $delay * 1s;
        animation-fill-mode: forwards;
    }
    @keyframes letter#{$i} {
        from {
            margin-top: $offset;
        }
        to {
            margin-top: font(size);
        }
    }
}
